.bg-container {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #9796f0, #fbc7d4);
}

.emoji-container-full {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding: 0px;
  max-width: 1000px;
}

.emojis-list-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding: 0px;
  max-width: 1000px;
}
